<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-title>Login</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-input
        type="text" minlength="3" maxlength="8" fill="solid" label="User" labelPlacement="floating" helperText="Enter a valid user" errorText="Invalid User" [(ngModel)] = "username" 
        ></ion-input>

        <ion-input
        type="password" minlength="4" maxlength="4" fill="solid" label="Password" labelPlacement="floating" helperText="Enter a valid Password" errorText="Invalid Password" [(ngModel)] = "password" 
        ></ion-input>

        <ion-button (click)="logearse()">
          Login
        </ion-button>
    </ion-card-content>

  </ion-card>
</ion-content>