<ion-header [translucent]="true">
  <ion-toolbar color = "tertiary">
    <ion-title>Page Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div #square style="font-size: 30px;">
    <p class="centered-text">Home Page!</p>
  </div>
  <ion-button (click) = "toggleAnimation()" expand = "full">Botonsito!</ion-button>
  
    <ion-item  class="ion-padding">
      <ion-label position="floating">Nombre</ion-label>
      <ion-input #nombreInput></ion-input>
      <ion-button (click)="ejecutarAnimacion(nombreInput)" expand="full">Limpiar</ion-button>
    </ion-item>

  <ion-item class="ion-padding">
    <ion-label position="floating">Apellido</ion-label>
    <ion-input #apellidoInput></ion-input>
    <ion-button (click)="ejecutarAnimacion(apellidoInput)"  expand="full">Limpiar</ion-button>
  </ion-item>

  <input matInput [matDatepicker]="picker">
  <mat-hint>MM/DD/YYYY</mat-hint>
  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>